- provide(:log_in_btn_text, t('log_in'))
%section#login
  .container
    .row
      .col-xs-12
        .form-wrap
          %h1 Log in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
            .form-group
              = form.label :email
              %br/
              = form.email_field :email, autofocus: true, autocomplete: "email", |
                class: "form-control", placeholder: t('log_in_email_hint')
            .form-group
              = form.label :password
              %br/
              = form.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('log_in_password_hint')
            .form-group
              - if devise_mapping.rememberable?
                = form.check_box :remember_me
                = form.label :remember_me
            .actions
              = form.submit yield(:log_in_btn_text), class: "btn btn-custom"
          %hr/
          .forget
            = render "devise/shared/links"
