:javascript
  $(document).on('turbolinks:load', function () {
      $.getScript("http://www.carqueryapi.com/js/carquery.0.3.4.js", function () {
          let carquery = new CarQuery();
          carquery.init();
          carquery.initYearMakeModelTrim('car_production_year', 'car_manufacturer', 'car_model', 'car_trim');
      });
  });
.row
  .col-md-6.col-md-offset-3
    = form_for @car, url: {action: "create"} do |car_form|
      = car_form.text_field :custom_name, :placeholder => "Your own car name"
      = car_form.select(:production_year, options_for_select([], 0))
      = car_form.select(:manufacturer, options_for_select([], 0))
      = car_form.select(:model, options_for_select([], 0))
      = car_form.select(:trim, options_for_select([], 0))
      = car_form.submit yield(:button_text)
